  <div class="grid fields-container">
    <div class="col-6 md:col-4 lg:col-4 clickable-field" *ngFor="let field of filteredFields" (click)="showReservation(field)">
      <p-card >
        <ng-template pTemplate="header">
          <img src="assets/basketball-court.jpg" alt="Basketball Court" class="field-image">
        </ng-template>
        <ng-template pTemplate="content">
          <h2 style="color: var(--primary-color);">{{ field.type }}</h2>

        </ng-template>
      </p-card>
    </div>
  </div>

