.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  hr{
    opacity: 0.2;
    margin-bottom: 2vh;
  }
  .card{
    //height: 45%;
    width: 40%;
    border-radius: 15px;
    background-color: #2b2b2b;
    padding: 2vh 2vw 2vh 2vw;
    small{
      color: rgba(201, 0, 0, 0.97) !important;
    }
    .button-container{
      display: flex;

    }
  }
}
