<div class="layout-topbar p-0">
  <div class="topbar-left pl-3">
    <a routerLink="/"> <i class="pi pi-home"></i></a>
  </div>

  <!--  <p-sidebar [visible]="true">-->
  <!--    <a [routerLink]="['/']">-->
  <!--      <span class="app-name">Inzynierka</span>-->
  <!--    </a>-->
  <!--    <div class="layout-menu-container">-->
  <!--    </div>-->
  <!--  </p-sidebar>-->
<!--  <div class="layout-mask modal-in"></div>-->

  <div class="topbar-right">
    <ul class="topbar-menu">
      <li class="static sm:relative">
        <p-button styleClass="p-button-text p-button-sm" label="Wspólne jedzenie" icon="pi pi-calendar" (onClick)="handleMeetingsClick()"></p-button>
      </li>
      <li class="static sm:relative">
        <p-button styleClass="p-button-text p-button-sm" label="Użytkownicy" icon="pi pi-users" (onClick)="handleUsersClick()"></p-button>
      </li>
      <li class="profile-item static sm:relative">
        <a tabindex="0" pStyleClass="@next" enterClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
           leaveActiveClass="fadeout" [hideOnOutsideClick]="true">
          <i class="pi pi-user mr-3"></i>
          <span
            class="profile-name">{{(authService.getAuth() | async)?.name }} {{(authService.getAuth() | async)?.surname }}</span>
        </a>
        <ul
          class="list-none p-3 m-0 border-round shadow-2 absolute surface-overlay hidden origin-top w-full sm:w-12rem mt-2 right-0 top-auto">
          <li>
            <a pRipple
               class="flex p-2 border-round align-items-center hover:surface-hover transition-colors transition-duration-150 cursor-pointer"
               (click)="handleLogoutClick()">
              <i class="pi pi-power-off mr-3"></i>
              <span class="flex flex-column">
<span class="font-semibold">Wyloguj</span>
</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<!--<p-progressBar-->
<!--  [mode]="'indeterminate'"-->
<!--  [ngClass]="['main-progress-bar', loadingIndicatorOn ? 'progress-bar-visible' : 'progress-bar-hidden']"-->
<!--&gt;</p-progressBar>-->
